.dialog a {
    margin: 20px;
    color: darkgreen;
    text-decoration: none;
}

.dialog a.activeLink {
    color: darkred;
    margin-left: 75px;
    padding: 10px;
    background-color: darkorange;
}

.dialog {
    height: 100%;
    background-color: mediumvioletred;
}

