.nav {
    grid-area: n;
    background-color: #ff8c00;
    padding: 20px;
  }
.item a{
    color: #ffffff;
    text-decoration: none;
}
.item a.activeLink{
    color: gold;
}
.item img{
    width: 60px;
    height: 60px;
}
.frends{
    display: flex;
    flex-flow: row nowrap;
}