.nav {
    grid-area: n;
    background-color: #ff8c00;
    padding: 30px;
    height: 100%;
}

.item a {

    color: #ffffff;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;

}

.item img {
    width: 60px;
    height: 60px;
}

.friends item {
    display: flex;
    flex-direction: row;
}

.friendsClass {
    padding: 5px;

}